@import "reset";
@import "variables/global";

.app {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1170px;

    font-family: "Public Sans", Arial, sans-serif;
    color: #221D1D;

    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
}
@media screen and (max-width: 1440px) {
    .app {
        max-width: 1170px;
    }
}
@media screen and (max-width: 1024px) {
    .app {
        max-width: 984px;
        margin: 0 20px;
    }
}
@media screen and (max-width: 768px) {
    .app {
        max-width: 728px;
    }
}
@media screen and (max-width: 431px) {
    .app {
        max-width: 431px;
        margin: 0;
    }
}