.footer {
  margin: 90px 0 25px;
  display: flex;
  flex-direction: column;
  gap: 36px;
}
.links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}
.link {
  color: rgb(78, 56, 68);
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.68px;
  text-decoration: none;
}
.sectigo {
  display: flex;
  flex-direction: column;
}
.sectigo_link {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.68px;
  color: #4E3844;
}